// General Layout
#app-modal {
  display: none;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
}
#app-modal-wrapper {
  background-color: white;
  padding: 7px;
}

// Radio Modal
.radio-modal {
  display: none;
  width: 275px;
}
.radio-modal #radio-url {
  width: 87%;
}
.radio-modal-error {
  color: #DE2121;
  font-weight: bold;
  font-size: 12px;
}
.radio-modal-title {
  font-size: 30px;
  line-height: 24px;
  padding: 9px;
}
.radio-modal-compatible-container {
  text-align: left;
  padding: 5px;
}
.radio-modal-compatible-title {
  font-weight: bold;
}
.radio-modal-compatible {
  font-size: 11px;
}