.mpbc {
	background-color: #161765;
}
.mpbsc {
	box-shadow: 1px 1px 13px #161765;
}
.mpc {
	color: #161765;
}
.ui-slider-range {
	background: #161765;
}
.volume-bar .ui-slider-handle {
	background: #161765;
}

#app-navigation {
	z-index: 2;
}
tr.song {
	height: 35px;
}
tr.song:hover {
	background-color: #e4e4e0;
}
tr.song td {
	border-bottom: 1px solid #eee;
}
#songlist thead th {
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	padding-left: 10px;
}
#songlist {
	padding: 2px;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}