$primary-color: #03A9F4;
$lighter-color: darken( rgba( $primary-color, .1 ), 10% );
$light-color: darken( rgba( $primary-color, .3 ), 10% );

@import 'player';
@import 'modal';

.mpbc {
	background-color: $primary-color;
}
.mpbsc {
	box-shadow: 1px 1px 13px $primary-color;
}
.mpc {
	color: $primary-color;
}
.ui-slider-range {
	background: $primary-color;
}
.volume-bar .ui-slider-handle {
	background: $primary-color;
}
#app-navigation {
	z-index: 2;
}
.playing-song {
  background-color: $light-color;
}
tr.song {
	height: 35px;
}
tr.song:hover {
	background-color: $lighter-color;
}
tr.song td {
	border-bottom: 1px solid #eee;
}
#songlist thead th {
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	padding-left: 10px;
}
#songlist {
	padding: 2px 2px 66px 2px;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.scroll-left {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 50px;
	text-align: center;
	z-index: -1;
	top: -6px;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
	/* Apply animation to this element */
	-moz-animation: scroll-left 10s linear infinite;
	-webkit-animation: scroll-left 10s linear infinite;
	animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
	0%   { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
	0%   { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
	0%   {
		-moz-transform: translateX(100%); /* Browser bug fix */
		-webkit-transform: translateX(100%); /* Browser bug fix */
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%); /* Browser bug fix */
		-webkit-transform: translateX(-100%); /* Browser bug fix */
		transform: translateX(-100%);
	}
}
